<div class="container">
  <img src="/image/logo.png" alt="Who's your daddy?" class="logo">
  <h1>Recent Tweets!</h1>
  <div>
    Enter your Twitter handle to view your most recent tweets
  </div>
  <form method="POST" action="/fetch_tweets" class="center">
    <input type="text" name="handler" placeholder="@yourTwitterHandle" class="form-field">
    <br>
    <input type="submit" class="button">
  </form>
  <% if @handler %>
    <div>10 recent tweets by <%= @handler.handler %><br><hr></div>
    <% @tweets.each do |tweet| %>
    <div><%= tweet.tweet %><br><hr></div>
    <% end %>
  <% end %>
</div>
