<div class="container center">
  <img src="/image/logo.png" alt="Who's your daddy?" widht="75px" height="75px">
  <h1>Recent Tweets!</h1>
  <div>
    Enter your Twitter handler to view your most recent tweets
  </div>
  <form method="POST" action="/fetch_tweets">
    <input type="text" name="handler" placeholder="@yourTwitterHandler">
    <br>
    <input type="submit">
  </form>
  <div>10 recent tweets by <%= @handler %><br><hr></div>
  <% @tweets.each do |tweet| %>
  <div><%= tweet %><br><hr></div>
  <% end %>
</div>
